body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-size: 1.1em;
  line-height: 1.3em;
  color: #969696;
  font-weight: 400;
}
p a{
	color:  #000;
	font-weight: 700;
}
.navbar-header {background: #fff;padding-bottom: 10px;}

.navbar-brand img{
	display: block;
	width: 130px;
}

.navbar-toggle {
	border-radius: 0px;
	padding: 5px; 
	margin-top: 18px;
}

.navbar-toggle .icon-bar {
    width: 15px;
    height: 1px;
	background: #696969;
}

.navbar-collapse {
	background: #fff;
	border-top: 1px solid #e2e2e2;
	border-bottom: 1px solid #e2e2e2;
}

.navbar-nav>li>a {
	color: #969696;
}

.navbar-nav>li.active>a {
	color: #000;
	font-weight: 700;
}

.dropdown-menu small {
	display: block;
	padding-left: 10px;
}
.dropdown-menu>.active>a, 
.dropdown-menu>.active>a:focus, 
.dropdown-menu>.active>a:hover,
.nav>li>a:focus, .nav>li>a:hover,
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
	background:  #000 !important;
	color: #fff;
}

@media (min-width: 768px){
	.navbar {
		background: #fff;
		padding-bottom: 0;
	}
	.navbar-collapse {border-bottom: 0;}
	.navbar-brand {
		display: block;
		width: 100vw;
		float: none;
		padding: 40px 10px 50px; 
	}
	.navbar-brand img {margin: 0 auto;}
	.nav {
		width: 490px;
		margin: 0 auto;
		float: none !important;
	}
}

.destaque{
	margin-top: 100px;
	padding: 17.6vh 0;
	background: url('../img/bg-destaque-mobile.png') center center no-repeat;
	background-size: cover;
}
.destaque h1,
.destaque p {margin: 0;}
.destaque img {
	display: block;
	width: 100%;
}

.destaque2,
.destaque-blog,
.content-post,
.destaque-profissionais,
.destaque-participar,
.destaque-contato {margin-top: 70px;}
@media (min-width: 768px){
	.destaque2,
	.destaque-blog,
	.content-post,
	.destaque-profissionais,
	.destaque-participar,
	.destaque-contato {margin-top: 160px;}
}

.destaque-blog{
	padding: 24.6vh 0;
	background: url('../img/bg-blog.png') center center no-repeat;
	background-size: cover;
}
.destaque-blog h1 {
	text-align: center;
	font-weight: 900;
	text-transform: uppercase;
	font-size: 30px;
	color: #fff;
}

.destaque-profissionais{
	padding: 24.6vh 0;
	background: url('../img/bg-profissional.png') center center no-repeat;
	background-size: cover;
}
.destaque-profissionais h1 {
	text-align: center;
	font-weight: 900;
	text-transform: uppercase;
	font-size: 30px;
	color: #000;
}

.destaque-participar{
	padding: 24.6vh 0;
	background: url('../img/bg-quero-participar.png') center center no-repeat;
	background-size: cover;
}
.destaque-participar h1 {
	text-align: center;
	font-weight: 900;
	text-transform: uppercase;
	font-size: 30px;
	color: #fff;
}

.destaque-contato{
	padding: 24.6vh 0;
	background: url('../img/bg-contato.png') center center no-repeat;
	background-size: cover;
}
.destaque-contato h1 {
	text-align: center;
	font-weight: 900;
	text-transform: uppercase;
	font-size: 30px;
	color: #fff;
}

.content-destaque {
	max-width: 550px;
	margin: 0 auto;
	padding: 100px 20px;
	background: rgba(255, 255, 255, 0.95);
	text-align: center;
}

.content-destaque p{
	max-width: 350px;
	margin: 20px auto 0;
}
@media (min-width: 1024px){
	.destaque{
		margin-top: 0;
		background: url('../img/bg-destaque.png') right top no-repeat;	
		background-size: contain;
		padding: 26vh 0;
	}
	.content-destaque {
		background: none;
		text-align: right;
		max-width: 270px;
	    margin: 0;
    	margin-left: 12vw;
	}
}

footer {padding-bottom: 10px;}
footer img {
	display: block;
	width: 100px;
}

footer small {
	display: block;
	padding-top: 23px;
	text-align: right;
	font-size: 9px;
}

.header-section {
	padding: 3em 0;
	text-align: center;
}
.header-section h2 {
	margin: 0 0 10px;
	font-weight: 900;
	font-size: 13px;
}
.header-section p{margin: 0;}

.time-list ul{
	padding: 0;
	margin: 0;
	list-style-type: none;
}
.time-list ul li {
	padding: 40px 20px;
	background: #F9F7F6;
	text-align: center;
	margin-bottom: 15px;
}
.time-list ul li img {
	display: block;
	width: 100%;
	max-width: 200px;
	border-radius: 250px;
	margin: 0 auto;
}
.time-list ul li h3 {
	margin: 30px 0 5px;
	font-weight: 900;
	font-size: 13px;
	text-transform: uppercase;
}
.time-list ul li p {
	color:  #333;
	font-size: 13px;
}

@media (min-width: 768px){
	.time-list ul li {
		padding: 40px 10px;
		border-left: 5px solid #fff;
		border-right: 5px solid #fff;
	}
}

.content-livro h1 {
	font-size: 25px;
	font-weight: 700;
	border-bottom:1px solid #eaeaea;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.content-livro p{
	border-bottom:1px solid #eaeaea;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.content-livro p span {font-weight: 700;}

.btn {
	font-weight: 900;
	text-transform: uppercase;
	font-size: 12px;
	background: transparent;
	border:  1px solid #333;
	border-radius:  0;
	color:  #333;
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
	background: #333;
	color:  #fff;
	transition: all linear 0.25s;
}

.form-livro {
	background: #f9f7f6;
	padding: 25px;
	margin-top: 15px;
	max-width: 350px;
}
.form-livro h2 {
	margin: 0 0 10px;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 900;
}
.form-livro p {
	color : #000;
	font-size: 12px;
}
.form-livro label {font-size: 12px;}
.form-livro .form-control {
	box-shadow: 0 0 0;
	border-color:  #e8e8e8;
	border-radius:  0;
}

.list-post {margin: 30px 0;}
.list-post ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.list-post ul li {
	position: relative;
	margin-bottom: 30px;
}
.list-post ul li h2 {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 900;	
}
.date-post {
	position: absolute;
	top: 10px;
	left: 25px;
	background: #fff;
	padding: 10px;
	width: 50px;
	text-align: center;
	line-height: 1.1;
}
.date-post b{
	display: block;
	font-size: 25px;
	font-weight: 900;
}
.date-post span {
	display: block;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 900;
	letter-spacing: 3px;
}
.date-post small {font-size: 11px;}
.pagination-box {
	margin-top: 30px;
	text-align: center;
}
.pagination>li>a{
	border:  0;
	color:  #ccc;
	font-weight: 700;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
	background: #fff;
	color:  #000;
}

.text-post h1 {
	text-transform: uppercase;
	font-size: 25px;
	font-weight: 900;
}

.text-post h2,
.text-post h3,
.text-post h4,
.text-post h5,
.text-post h6, {
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 900;
}

.share-box {
	margin: 30px 0;
	padding: 30px 0 15px;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}
.share-box p{
	text-transform: uppercase;
	font-weight: 900;
	font-size: 12px;
	margin-bottom: 0;
	text-align: center;
}

.related-post {margin-top: 30px;}
.related-post h6 {
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 900;
	text-align: center;	
}
.form-search .form-control {
	box-shadow: 0 0 0;
	border-color:  #e8e8e8;
	border-radius:  0;
	border-right:  0px;
}
.form-search .input-group-addon{
	border-color:  #e8e8e8;
	border-left:  0px;
	border-radius:  0;
	background: #fff;	
}

.list-itens-sidebar {
	margin: 30px 0;
}
.list-itens-sidebar h6 {
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 900;
}
.list-itens-sidebar ul{
	padding: 0;
	list-style: none;
}
.list-itens-sidebar ul li{
	border-bottom: 1px solid #e8e8e8;
	margin-bottom: 10px;
	padding-bottom: 10px;
}
.list-itens-sidebar ul li a {
	font-weight: 400;
	color: #333;
}
.fb-page{width: 100%;}

.profissionais-list ul,
.profissionais-list-portfolio ul{
	padding: 0;
	margin: 0;
	list-style-type: none;
}
.profissionais-list ul li {
	text-align: center;
	margin-bottom: 0;
	padding: 20px 0px;
}
.profissionais-list ul li img,
.profissionais-list-portfolio ul li img {
	display: block;
	width: 100%;
}
.profissionais-list ul li h3 {
	margin: 30px 0 5px;
	font-weight: 900;
	font-size: 13px;
	text-transform: uppercase;
}
.profissionais-list ul li p {
	color:  #333;
	font-size: 13px;
}

@media (min-width: 768px){
	.profissionais-list ul li {
		padding: 20px 10px;
		border-left: 5px solid #fff;
		border-right: 5px solid #fff;
	}
}

.profissionais-list-portfolio ul li {
	padding: 2px;
	margin: 0;
}
.profissionais-list-portfolio ul li a {display: block;}
.contatos {
	padding: 30px 0 0;
	text-align: center;
}
.contatos span {
	font-size: 35px;
	color: #333;
}
.contatos h2 {
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 900;	
	margin-top: 20px;
	text-align: center;
}
.contatos p {text-align: center;}